*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p{
    font-style: italic;
}
section{
    padding-top: 50px;
    padding-bottom: 50px;
}
header{
    position: sticky;
}
.header-link a{
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
}
.header-link :hover{
    background-color: rgb(255, 208, 0);
    z-index: 1;
}
.portfolio-navbar{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.navbar-icons{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: end;
    align-items:center ;
}
.hero-page{
    /* background-color: #111; */
    background-image: url(images/bg-six-shape-left-side.png);
    background-position: left;
    background-repeat: no-repeat;
    position:relative;
}
.devlop{
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}
.my-name{
    font-size: 108px;
    font-weight: bolder;
    color: #fff;
    line-height: 96px;
}
.img-circle{
    position: relative;
    border: solid 4px yellow;
    border-radius: 100%;
    height: 485px;
    width: 500px;
}
    .moving-circle{
        position: absolute;
        top: 0px;
        left: 0px;
        animation: move-circle 15s infinite;
          animation-timing-function: linear;
    }
@keyframes move-circle {
    100%{
        transform: rotate(360deg);
    }
}
.my-photo{ 
    height: 100%;
    border:solid 4px #fff; 
    border-radius: 100%;
    overflow: hidden;
}
.my-photo img{ 
    object-position: center;
    object-fit: cover;
}
.img-background{
    height: 400px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
}
.about-img{
    border: 4px solid #fff;
    border-radius: 100%;
    height: 350px;
    width: 350px;
}
.about-side p {
    color:#fff;
}
progress{
    width: 100%;
}
.range-text p{
display: flex;
justify-content: space-between;
}
.menu-bar{
    display: none;
}
@media only screen and (max-width:768px){

   .img-circle{
    display: none;
   } 
   .portfolio-navbar
   {
    display: none;
    position: absolute;
    left: 0px;
    top: 15px;
    background-color: black;
    width: 100%;
    height: 100vh;
   }
   .portfolio-navbar li {
    padding-bottom: 10px;
    }
   .cut-navbar{
   position: absolute;
    right: 0px;
    top: 10px;}
   .navbar-icons li{
    display: none;
   }
   .menu-bar{
    display: block !important;
   }
}